<div class="col-6 mx-auto mt-5 border p-5">
    <h3 class="text-center mb-3">Forget Password</h3>
      <form [formGroup]="forgetForm" (ngSubmit)="!isEmailSubmit? forgetPassword():verifyPassword()">
          <p class="text-danger">{{message}}</p>
          <div class="mb-3" [hidden]="isEmailSubmit">
            <label for="emailAddress" class="form-label">Email address <sup class="text-danger"> *</sup></label>
            <input type="email"  class="form-control" formControlName="email" id="emailAddress"  aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            <small class="text-danger" *ngIf="formControl?.['email']?.touched && formControl?.['email']?.errors?.['required']">Email is Required</small>
            <small class="text-danger" *ngIf="formControl?.['email']?.touched && formControl?.['email']?.errors?.['pattern']">Email is Invalid</small>
          </div>
          <div class="mb-5" *ngIf="isEmailSubmit">
            <label for="otpNumber" class="form-label">OTP Number <sup class="text-danger">*</sup></label>
            <input type="text" formControlName="otp" required class="form-control" id="otpNumber">
          </div>
          
          <button type="submit" class="btn btn-primary" *ngIf="!isEmailSubmit">Submit</button>
          <button class="btn btn-primary mx-1" type="submit" *ngIf="isEmailSubmit">Verify</button>
          <button class="btn btn-secondary mx-1" routerLink="/login">Login</button>
        </form>
  </div>